In [1]:
# Import dependencies
from sklearn import tree
import pandas as pd
import warnings
warnings.simplefilter('ignore')
import os

In [2]:
# Read the CSV
heart = pd.read_csv("cleaned_cardio.csv")
heart.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,50.0,2,66.0,136.0,110,80,1,1,0,0,1,0,21.948577
1,55.0,1,61.0,187.0,140,90,3,1,0,0,1,1,35.329481
2,52.0,1,65.0,141.0,130,70,3,1,0,0,0,1,23.461065
3,48.0,2,67.0,180.0,150,100,1,1,0,0,1,1,28.188906
4,48.0,1,61.0,123.0,100,60,1,1,0,0,0,0,23.238108

In [9]:
target = heart["cardio"].values.reshape(-1, 1)
target_names = ["no-attack", "attack"]

In [10]:
data = heart.drop("cardio", axis=1)
feature_names = data.columns
data.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,BMI
0,50.0,2,66.0,136.0,110,80,1,1,0,0,1,21.948577
1,55.0,1,61.0,187.0,140,90,3,1,0,0,1,35.329481
2,52.0,1,65.0,141.0,130,70,3,1,0,0,0,23.461065
3,48.0,2,67.0,180.0,150,100,1,1,0,0,1,28.188906
4,48.0,1,61.0,123.0,100,60,1,1,0,0,0,23.238108

In [11]:
# Set up train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [12]:
# Use standard scaler on  tarining data
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [13]:
# Scale train and test
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

from sklearn.preprocessing import LabelEncoder
y_train_encoded = LabelEncoder().fit_transform(y_train_scaled)
y_test_encoded = LabelEncoder().fit_transform(y_test_scaled)

In [14]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train_scaled, y_train_encoded)
clf.score(X_test_scaled, y_test_encoded)

0.6388759328358209

In [15]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=300)
rf = rf.fit(X_train_scaled, y_train_encoded)
rf.score(X_test_scaled, y_test_encoded)

0.7097714552238806

In [16]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.1847319045448499, 'BMI'),
 (0.18281679989434102, 'ap_hi'),
 (0.17216293519248388, 'age'),
 (0.1456917183210352, 'weight'),
 (0.09686448901133617, 'height'),
 (0.0940247122991114, 'ap_lo'),
 (0.042573302237188124, 'cholesterol'),
 (0.022306052205895734, 'gender'),
 (0.020993277328344807, 'gluc'),
 (0.0179378437255598, 'active'),
 (0.010851573621679024, 'smoke'),
 (0.009045391618175006, 'alco')]